.recorder-container {
  position: relative;
  height: 100vh;
}


.footer {
  text-align: center;
  color: #626060;
  padding: 1rem;
  position: absolute;
  bottom: 0;
  width: 100%;
}


.footer a {
  color: #626060;
  ;
}

.footer a:hover {
  color: #666;
}

.record-button {
  -webkit-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  background-color: #00C851;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.record-button:active {
  background-color: #FF5252;
}


.app-header {
  font-family: 'Open Sans', sans-serif;
  /* use Open Sans */
  font-size: 3rem;
  font-weight: bold;
  color: #ff7f50;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
  text-shadow: 1px 1px 1px rgba(150, 147, 147, 0.2);
}

.app-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - 3rem);
  /* max-height: calc(100vh - 100rem); */
  background-color: #c6dbee;
  max-width: 80rem;
  /* add this line to set the maximum width */
  margin: 0 auto;
  /* add this line to center the container horizontally */
}


.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 80em;
  margin-bottom: 2rem;
}


.language-dropdown {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.language-dropdown label {
  margin-right: 0.5em;
  font-family: 'Montserrat', sans-serif;
}

.language-dropdown select {
  font-family: 'Montserrat', sans-serif;
}

/* Add this style to position the language dropdown on the left */
.language-dropdown {
  order: -1;
  /* Move the language dropdown to the start of the header */
  margin-right: auto;
  /* Push the title to the right */
}